body { background: #5313f1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-email-0 { color: #b1f344; font-size: 12px; margin-bottom: 5px; }
.block-email-1 { color: #9f30e1; font-size: 19px; margin-bottom: 5px; }
.block-cart-2 { color: #723cd8; font-size: 15px; margin-bottom: 5px; }
.block-notify-3 { color: #c54662; font-size: 20px; margin-bottom: 5px; }
.block-notify-4 { color: #2f8480; font-size: 21px; margin-bottom: 5px; }